---
import { pwaInfo } from "virtual:pwa-info"

export interface Props {
  title: string
}

const { title } = Astro.props as Props
---

<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0,viewport-fit=cover"
    />

<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "https://hm.baidu.com/hm.js?14155aee830233f513b1f078a6a1ce2a";
  var s = document.getElementsByTagName("script")[0];
  s.parentNode.insertBefore(hm, s);
})();
</script>



    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="apple-touch-icon" href="/apple-touch-icon.png" sizes="192x192" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <meta name="theme-color" content="#f6f8fa" />
    <script src="/src/pwa.ts"></script>


    {pwaInfo && <Fragment set:html={pwaInfo.webManifest.linkTag} />}
  	<script>
  	var btn = document.getElementById("bbuu");
    btn.onclick = function(){
             var zsm = document.getElementById("zsm");
             var span = btn.getElementsByTagName("span")[0];
                 if(zsm.style.height=="auto"){
                      zsm.style.height="40px";
                      span.textContent = "+";
                 }else{
                     zsm.style.height="auto";
                     span.textContent = "-";
                 }
    }

  	</script>

  </head>
  <body>
    <slot />
  </body>

</html>
